<script type="text/x-template" id="direction">
    <div>
        <div class="alert alert-danger" v-if="errorMessages.length">
            Some errors have appeared:
            <ul>
                <li class="alert alert-danger" v-for="error in errorMessages">{{ error }}</li>
            </ul>
        </div>

        <h3>{{initData.pageTitle}}</h3>

        <form v-on:submit.prevent="onSubmit">

            <div class="input-group">
                <label class="required" for="id">ID</label>
                <div>
                    <input type="text" name="name" id="id" title="ID" required="required"
                           class="medium"
                           v-model="id"
                           disabled="disabled"/>
                </div>
            </div>

            <div class="input-group">
                <label for="threshold">Threshold</label>
                <div>
                    <input type="number" name="threshold" id="threshold" title="threshold"
                           required="required" min="1" step="1" max="9999"
                           v-model="threshold"/>
                </div>
            </div>

            <div>
                <label>Emails</label>
                <div v-for="(item, index) in processedEmails">
                    <email
                           :item="item"
                           v-on:changeEmail="changeEmail($event)"
                           v-on:removeEmail="removeEmail($event)">
                    </email>
                </div>
                <a class="btn btn-primary" href="#" @click.prevent="addEmptyItem">
                    <i class="icon-plus"></i> Add Email
                </a>
            </div>

            <div class="input-group">
                <label for="source">Source</label>
                <div>
                    <input type="text" name="source" id="source" title="source" required="required"
                           class="small"
                           min="0"
                           v-model="source"/>
                </div>
            </div>

            <div class="input-group">
                <label for="source_type">Source Type</label>
                <select v-model="sourceType"
                        id="source_type"
                        name="source_type"
                        required="required">
                    <option value=""> - Select One - </option>
                    <option
                            v-for="(sourceType, index) in sourceTypes"
                            :value="index">
                        {{ sourceType }}
                    </option>
                </select>
            </div>

            <div>
                <input type="submit" class="btn btn-success" value="Submit"/>
            </div>
        </form>
    </div>
</script>

<script type="text/javascript">
    Vue.component('direction', {
        props: {
            initData: {
                type: Object,
                default: () => {},
            },
            errorMessages: {
                type: Array,
                default: () => [],
            },
        },
        data() {
            return {
                id: this.initData.id ? this.initData.id : null,
                threshold: this.initData.threshold ? this.initData.threshold : null,
                source: this.initData.source ? this.initData.source : null,
                error: false,
                emails: this.initData.emails ? this.initData.emails : [],
                sourceType: this.initData.sourceType ? this.initData.sourceType : 'AZAIR',
                processedEmails: [],
                saveAction: '/direction/save',
                index: 0,
                sourceTypes: this.initData.sourceTypes,
            };
        },
        created() {
            this.emails.map(el => this.addItem(el));
        },
        methods: {
            changeEmail(data) {
                this.emails[data.id] = data.email;
            },
            removeEmail(item) {
                let index = item.index;
                this.processedEmails = this.processedEmails.filter(function (email) {
                    return email.index !== index;
                });
            },
            addEmptyItem() {
                this.addItem('');
            },
            addItem(email) {
                this.index++;
                this.processedEmails.push(
                    {
                        index: this.index,
                        email: email,
                    }
                )
            },
            checkEmails() {
                return this.processedEmails.length > 0;
            },
            setError(message) {
                this.errorMessages.push(message);
            },
            onSubmit() {
                if (!this.checkEmails()) {
                    this.setError('You should add at least one email for notification!')
                    return;
                }
                let emails = this.processedEmails.map(function(item) {
                    return item.email;
                });

                axios.post(this.saveAction, {
                        id: this.id,
                        threshold: this.threshold,
                        source: this.source,
                        emails: emails,
                        sourceType: this.sourceType,
                })
                    .then(response => {this.responseData = response.data;
                        window.location = "/direction/"+response.data.id+"/edit"
                    })
                    .catch(error => {
                    });
            }
        },
        template: '#direction'
    });
</script>