<script type="text/x-template" id="direction">
    <div>
        <div class="alertMessage inline success" v-if="saved">You have successfully saved ({{ id }}) {{ name }}.</div>
        <div class="alertMessage inline error" v-if="errorMessages.length">
            <ul>
                <li v-for="error in errorMessages">{{ error }}</li>
            </ul>
        </div>

        <h3>Add new direction!</h3>

        <form v-on:submit.prevent="onSubmit">

            <div class="input-group">
                <label class="required" for="id">ID</label>
                <div>
                    <input type="text" name="name" id="id" title="ID" required="required"
                           class="medium"
                           v-model="id"
                           disabled="disabled"/>
                </div>
            </div>

            <div class="input-group">
                <label for="threshold">Threshold</label>
                <div>
                    <input type="number" name="threshold" id="threshold" title="threshold"
                           required="required" min="1" step="1" max="9999"
                           v-model="threshold"/>
                </div>
            </div>

            <div>
                <label>Emails</label>
                <div v-for="(item, index) in processedEmails">
                    <email
                           :item="item"
                           v-on:changeEmail="changeEmail($event)"
                           v-on:removeEmail="removeEmail($event)">
                    </email>
                </div>
                <a class="btn" href="#" @click.prevent="addEmptyItem">
                    <i class="icon-plus"></i> Add Email
                </a>
            </div>

            <div class="input-group">
                <label for="threshold">Source</label>
                <div>
                    <input type="url" name="source" id="source" title="source" required="required"
                           class="small"
                           min="0"
                           v-model="source"/>
                </div>
            </div>

            <div>
                <input type="submit" value="Submit"/>
            </div>
        </form>
    </div>
</script>

<script type="text/javascript">
    Vue.component('direction', {
        props: {
            errorMessages: {
                type: [Array, Object],
                default: () => [],
            },
        },
        data() {
            return {
                id: null,
                threshold: null,
                source: '',
                error: false,
                saved: false,
                emails: [
                    'test1@test.ru',
                    'test2@test.ru',
                    'test3@test.ru',
                    'test4@test.ru',
                ],
                processedEmails: [],
                saveAction: '/direction/save',
                index: 0,
            };
        },
        created() {
            console.log(this.axios);
            this.emails.map(el => this.addItem(el));
        },
        methods: {
            changeEmail(data) {
                this.emails[data.id] = data.email;
            },
            removeEmail(item) {
                let index = item.index;
                this.processedEmails = this.processedEmails.filter(function (email) {
                    return email.index !== index;
                });
            },
            addEmptyItem() {
                this.addItem('');
            },
            addItem(email) {
                this.index++;
                this.processedEmails.push(
                    {
                        index: this.index,
                        email: email,
                    }
                )
            },
            processData(data) {
            },
            onSubmit() {
                this.saved = false;

                let emails = this.processedEmails.map(function(item) {
                    return item.email;
                });

                axios.post(this.saveAction, {
                    params: {
                        id: this.id,
                        threshold: this.threshold,
                        source: this.source,
                        emails: this.emails,
                    }
                })
                    .then(response => this.responseData = response.data)
                    .catch(error => {
                    });
            }
        },
        template: '#direction'
    });
</script>