<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:insert="components/header.html :: header"></th:block>
    <title>Edit Direction</title>
</head>
<body>

<div class="component" th:include="vue/direction.html"></div>
<div class="component" th:include="vue/email.html"></div>

<div id="manageDirection">
    <direction   :init-custom-object="initObject">
    </direction>
</div>
<script th:inline="javascript">
    var directionEmails = /*[[${direction.emails}]]*/ [];

    let initData = {
       pageTitle : "Edit new direction!",
       id :  [[${direction.id}]],
       threshold :  [[${direction.threshold}]],
       emails: directionEmails,
       source: [[${direction.source}]]
    }

    new Vue({
        el: '#manageDirection',
        data: {
            initObject: initData,
        }
    });
</script>

</body>
</html>
