<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link th:href="@{/css/manageDirection.css}" rel="stylesheet"/>
    <th:block th:insert="components/header.html :: header"></th:block>
    <title>Add Direction</title>
</head>
<body>

<div class="component" th:include="vue/direction.html"></div>
<div class="component" th:include="vue/email.html"></div>

<div id="manageDirection">
    <direction
            :init-data="initObject">
    </direction>
</div>
<script th:inline="javascript">
    let initData = {
        pageTitle : [[${direction.id}]] > 0 ? 'Edit Direction!' : 'Add new Direction!',
        id :  [[${direction.id}]],
        threshold :  [[${direction.threshold}]],
        emails: [[${direction.emails}]],
        source: [[${direction.source}]],
        sourceTypes: [[${sourceTypes}]],
        sourceType: [[${direction.sourceType}]],
    };

    new Vue({
        el: '#manageDirection',
        data: {
            initObject: initData,
        }
    });
</script>

</body>
</html>
